/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--font: #000;
--paynes-gray: #577590ff;
--ecru: #bfb48fff;
--mulberry: #b95f89ff;
--background: #fff;
--spacer: 8px;
}

@font-face {
    font-family: inkFree;
    src: url(Inkfree.ttf);
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 960px;
    text-align: center;  
    align-items: center;
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: inkFree, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2 {
    margin-bottom: calc(var(--spacer) * 2);
}

.heading {
    font-size: 1.5rem;
}

.paragraph {
    margin-bottom: 1em;
}

.frame {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

main {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    width: 80vw;
    flex: 1 1 auto;  /*grow vertically*/
}

main.coming-soon {
    text-align: center;
}

.email__link::before {
    content: '\002709';
    font-family: 'arial Unicode MS';
    padding: var(--spacer);
}

/* Header */
header {
    background-color: var(--background);
    position: sticky;
    /* position: relative;
    position: fixed; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo-link {
    padding-left: 20px;
}

.logo-link a {
    color: var(--font);
    font-size: 2rem;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--background);
    overflow: hidden;
}

.menu a {
    display: block;
    padding: calc(var(--spacer) * 2.5);
    color: var(--font);
}

.nav {
    max-height: 0;
    transition: max-height .15s ease-in-out;
}

/* Menu Icon */

.hamburger {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamburger-line {
    background: var(--font);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
    background: var(--font);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ nav .menu {
    margin-top: -20px;
}

.side-menu:checked ~ nav .logo {
    display: inline-block;
}

.side-menu:checked ~ .hamburger .hamburger-line {
    background: transparent;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Footer */
@media (min-width: 400px) {
    .menu-footer {
        display: flex;
        align-items: center;
        min-height: 50px;
    }

    a.email {
        padding-right: 30px;
    }
}

.menu-footer li:not(.email) {
    padding: auto 30px;
}

/* .menu-footer li:last-child {
    padding: 10px;
} */

.menu-footer .push-right {
    margin-left: auto;
}

.socials li {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.fa-facebook, .fa-instagram {
    color: var(--font);
}

footer {
    background-color: var(--background);
    /* position: fixed; */
    bottom: 0;
    max-width: 960px;
    width: 100%;
}

footer li {
    height: 30px;
}

.socials {
    display: flex;
    justify-content: center;
}
    
/* Responsiveness */

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        background-color: transparent;
    }

    .menu {
        display: flex;
    }

    .menu li {
        float: left;
    }

    .menu .push-left {
        margin-right: auto;
    } 

    .menu a {
        padding: 30px;
    }

    .menu a:hover {
        background-color: transparent;
    }
    
    .hamburger {
        display: none;
    }

    .logo {
        font-size: 32px;
    }

    .logo-link {
        display: none;
    }
}

/* Gallery */

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   var(--spacer);
   -moz-column-count:    5;
   -moz-column-gap:      var(--spacer);
   column-count:         5;
   column-gap:           var(--spacer);
}

#photos img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: var(--spacer);
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.jumbotron {
    display: flex;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.jumbotron img {
    display: block;
    width: 100%;
}